doctype html
html(lang='en')
  include ../common/head.pug
  +head("Rediger lån")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Rediger lån
            form(action="/loan/"+loan.id+"/edit", method="POST")
              .input-group.mb-3
                input(name="loan_email", type="email", placeholder="Enter your email address", value=loan.email).form-control
                .input-group-append
                  .input-group.mb-3
                    input(name="loan_number", type="number", placeholder="Enter your email address", value=loan.number).form-control
                    .input-group-append
                      .input-group.mb-3
                        input(name="loan_text", type="text", placeholder="Enter your email address", value=loan.text).form-control
                        .input-group-append
                          .input-group.mb-3
                            input(name="loan_number1", type="number1", placeholder="Enter your email address", value=loan.number1).form-control
                            .input-group-append
                              .input-group.mb-3
                                input(name="loan_number2", type="number2", placeholder="Enter your email address", value=loan.number2).form-control
                                .input-group-append
                  button(type="submit").btn.btn-primary Gem
    include ../common/footer.pug
    +footer()